@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url("./fonts/manrope-variable.ttf") format("truetype");
}

@font-face {
    font-family: Newsreader;
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url("./fonts/newsreader-variable.ttf") format("truetype");
}
